body {
    background-color: black;
    color: rgb(255, 61, 46);
    font-family: "jetsam-collection-kugelkopf", sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 50px;
}

main{
width: 100%;
max-width: 800px;
margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "gothique-mn", sans-serif;
}

header {

    h1 {
        text-align: center;
        font-size: 3em;
        letter-spacing: 20px;
        line-height: 1em;
    }

    h3 {
        font-size: 2em;
    }
}